.btn-custom {
  background-color: #00A388;
  color: #ffffff;
}
.btn-custom:hover {
  background-color: #333;
  color: #ffffff;
}

.form {
  padding: 6rem 0;
  background-color: #00A388;
  color: #ffffff;
}
.form h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.form input {
  padding: 1.5rem 0;
}
.form input:placeholder-shown {
  padding-left: 1rem;
}
.form .form-btn {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.form .form-btn:hover {
  color: #000000;
}

.showcase {
  height: 600px;
  background: url(../imagens/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showcase .logo {
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5rem 7rem;
  box-shadow: 8px 9px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.showcase .logo .intro__logo {
  font-size: 5rem;
  text-transform: uppercase;
}
.showcase .logo .intro__logo span {
  color: #00A388;
  font-size: 6rem;
}
.showcase .logo .intro__sub {
  font-size: 1rem;
  text-transform: uppercase;
}

.intro {
  width: 100%;
  height: 100vh;
  background: url(../imagens/intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .logo {
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5rem 7rem;
  box-shadow: 8px 9px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}
.intro .logo .intro__logo {
  font-size: 5rem;
  text-transform: uppercase;
}
.intro .logo .intro__logo span {
  color: #00A388;
  font-size: 6rem;
}
.intro .logo .intro__sub {
  font-size: 1rem;
  text-transform: uppercase;
}

.map {
  margin: 0px;
  padding: 0px;
}
.map iframe {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 450px;
}

footer {
  padding: 2rem;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #000000;
}

.navbar {
  background-color: #00A388;
  border-bottom: 1px solid #000000;
}
.navbar .nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 0.4rem;
}
.navbar .nav-link:hover {
  color: #000000 !important;
}
.navbar .active {
  color: #000000 !important;
}

.projetos {
  padding: 10rem 0;
  background: url(../imagens/background-projetos.jpg);
  background-size: cover;
  color: #ffffff;
}
.projetos h2 {
  font-size: 4rem;
  font-weight: 700;
}

.welcome {
  padding: 5rem 0;
}
.welcome h2 {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.welcome h4 {
  margin-bottom: 1rem;
}
.welcome p {
  margin-bottom: 2rem;
}

.about-section {
  padding: 6rem 0;
}
.about-section img {
  margin-bottom: 2rem;
}
.about-section h4 {
  font-size: 1.3rem;
}
.about-section p {
  font-size: 0.9rem;
}
.about-section .about-date {
  font-size: 0.8rem;
  color: #00A388;
}
.about-section .about-list {
  list-style: none;
}
.about-section .about-list li {
  margin-bottom: 0.7rem;
}
.about-section .about-list a {
  color: #000000;
}
.about-section .about-list a:hover {
  color: #00A388;
  text-decoration: none;
}
.about-section .fas {
  margin-right: 1rem;
  color: #00A388;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.equipe {
  padding: 7rem 0;
  background: url(../imagens/background-projetos.jpg);
  background-size: cover;
  color: #ffffff;
}
.equipe h2 {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
}
.equipe .equipe-imagen {
  margin-bottom: 2rem;
}
.equipe .equipe-name {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}
.equipe .equipe-name:hover {
  color: #00A388;
}

.valores {
  padding: 7rem 0;
}
.valores .box {
  display: flex;
}
.valores .box h4 {
  font-size: 2rem;
  color: #00A388;
  margin-right: 1rem;
}
.valores .box-content h5 {
  font-size: 1rem;
  color: #00A388;
}
.valores .box-content p {
  font-size: 0.9rem;
}
.valores .valores-list {
  list-style: none;
}
.valores .valores-list li {
  margin-bottom: 0.7rem;
}
.valores .valores-list a {
  color: #000000;
}
.valores .valores-list a:hover {
  color: #00A388;
  text-decoration: none;
}
.valores .valores-list .fas {
  margin-right: 1rem;
  color: #00A388;
}
.valores .cliente-box span {
  color: #00A388;
  margin-right: 1rem;
  font-size: 1.3rem;
}
.valores .cliente-box a {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: #000000;
}
.valores .cliente-box a:hover {
  color: #00A388;
}

.services {
  padding: 7rem 0;
}
.services .title {
  margin-bottom: 3rem;
}
.services-box .services-subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.services-box span {
  color: #00A388;
}
.services-box p {
  margin-bottom: 2rem;
}

.office {
  padding: 7rem 0;
  background: url(../../imagens/background-projetos.jpg);
  background-size: cover;
  color: #ffffff;
}
.office h5 {
  font-weight: 700;
}
.office p {
  margin-bottom: 2rem;
}

.feacture {
  padding: 7rem 0;
}
.feacture-list {
  list-style: none;
}
.feacture-list li {
  margin-bottom: 0.7rem;
}
.feacture-list a {
  color: #000000;
}
.feacture-list a:hover {
  color: #00A388;
  text-decoration: none;
}
.feacture-list .fas {
  margin-right: 1rem;
  color: #00A388;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
