@import 'variables';

.map {
  margin: 0px;
  padding: 0px;
  iframe {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 450px;
  }
}

footer {
  padding: 2rem;
  background-color: $clr-light;
  text-align: center;
}