// Import Componentes
@import "componentes/custom";
@import "componentes/form";
@import "componentes/header";
@import "componentes/intro";
@import "componentes/map";
@import "componentes/navbar";
@import "componentes/projetos";
@import "componentes/welcome";

// Import Pages
@import "pages/section-about";

// Import Variables
@import "variables";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
