@import 'custom';
@import 'form';
@import 'header';
@import 'navbar';
@import 'section-about';
@import 'projetos';
@import 'intro';
@import 'map';
@import 'variables';
@import 'welcome';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}