.welcome {
  padding: 5rem 0;

  h2 {
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }
}